<!DOCTYPE html>
<html>

<head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <h1 class="title">Hello World! </h1>
    <div class="side-bar">
        <ul class="parent-list">
            <li class="first-child">
                Dashboard
                <ul class="child-list">
                    <li class="second-child">
                        My kanban
                    </li>
                    <li class="second-child">
                        Groups
                    </li>
                </ul>
            </li>
            <li class="first-child">
                Tasks
                <ul class="child-list">
                    <li class="second-child">
                        Task1
                    </li>
                    <li class="second-child">
                        Task2
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <script src="script.js"></script>
</body>

</html>