body {
  padding: 25px;
}
 
.title {
  color: #5C6AC4;
}
 
.side-bar {
  position: fixed;
  width: 260px;
  background: grey;
  height: 100vh;
}
 
.parent-list {
  list-style: none;
  padding: 0;
}
 
.parent-list li {
  position: relative;
  margin-bottom: 3px;
}
 
.child-list {
  position: relative;
  list-style: none;
  padding: 0;
  background-color: aqua;
  opacity: 0;
  height: 0;
}
 
.first-child {
  cursor: pointer;
}
 
.first-child:hover .child-list  {
  position: absolute;
  color: red;
  left: 100%;
  top: -10px;
  opacity: 1;
  height: auto;
  white-space: nowrap;
}
