.card-root {
    /* max-width: 800px; */
    margin: auto;
    margin-top: 32px; /* 4 * 8px spacing unit */
    padding: 16px; /* 2 * 8px spacing unit */
  }
  
  .card-root .card-title {
    margin-bottom: 16px; /* 2 * 8px spacing unit */
  }
  
  .card-root .card-section {
    margin-bottom: 16px; /* 2 * 8px spacing unit */
  }
  
  .card-root .card-textField {
    margin-bottom: 8px; /* 1 * 8px spacing unit */
  }
  
  .card-root .card-button {
    margin-top: 16px; /* 2 * 8px spacing unit */
  }
  
  .add-card-button {
    border-radius: 15px;
    display: flex;
    cursor: pointer;
    padding: 16px;
    height: 3rem;
}

.add-card-button:hover {
background-color: #E0E0E0;
}